/*grid*/

.grid_1 { width: 6.5%; } /* 65px/1000px = 0.065px */
.grid_2 { width: 15%; } /* 150px/1000px =  0.15px */
.grid_3 { width: 23.5%; } /* 235px/1000px = 0.235px */
.grid_4 { width: 32%; } /* 320px/1000px = 0.32px */
.grid_5 { width: 40.5%; } /* 405px/1000px = 0.405px */
.grid_6 { width: 49%; } /* 490px/1000px = 0.49px */
.grid_7 { width: 57.5%; } /* 575px/1000px = 0.575px */
.grid_8 { width: 66%; } /* 660px/1000px = 0.66px */
.grid_9 { width: 74.5%; } /* 745px/1000px = 0.745px */
.grid_10 { width: 83%; } /* 830px/1000px = 0.83px */
.grid_11 { width: 91.5%; } /* 915px/1000px = 0.915px */
.grid_12 { width: 100%; } /* 1000px/1000px = 1 */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	float: left;
	display: block;
}
.col {
    margin: 1% 0 1% 2%;
}
.col:first-child {
    margin-left: 0;
}
.row {
    clear: both;
    padding: 0;
    margin: 0;
}
.row:before,
.row:after {
    display: block;
}
.row:after {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.container{
	width: 90%;
	max-width: 1000px;
	margin: auto;

}
div.container.main {
    min-height: 970px;
}
.clear {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}
.clearfix:after {
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}
html {
	height: 100%;
    background-color: #4d4d4d;
    color: #f3f3f3;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
* html .clearfix,
*:first-child+html .clearfix {
	zoom: 1
}

/*global*/
body {
    text-align: left;
    margin: 0 auto;
	font-weight: 100;
	font-size: 1.125em;
}
a {
	color: #ff9d33;
	text-decoration: none;
}
img, object {
	max-width: 100%;
}
input {
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 1.125em;
}
textarea {
    margin: 0;
    padding: 0;
    font-size: 1.25em;
    border-radius: .3em;
    border: 1px solid gray;
}
button {
    font-size:1.125em;
}
#header {
    height: 31px;
    border-bottom: 1px solid #ff9d33;
}
#searchBar {
    float: left;
}
#searchBar input {
    font-size: 1em;
}
#searchBar button {
    width: 30px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
#searchBar button:hover {
    cursor: pointer;
}
#searchBar .searchBtn {
    float: left;
    width: 10%;
}
#searchBar .searchBox {
    float: left;
    width: 90%;
}
#banner {
    width: 100%;
    margin-bottom: 1%;
}
#banner .bannerContainer {
    margin-left: 1%;
}
#banner #line1 {
    font-size: 2.5em;
    color: #4d4d4d;
}
#banner #line2 {
    font-size: 2em;

}
#banner .contactContainer {
    padding-left: 25%;
}
#banner .contactHeader {
    margin: 2% 0 4% 0;
}
#banner .contact a {
    color: white;
}
.content {
    background-color: #f5f5f5;
    border: 1px solid #f3f3f3;
    color: #4d4d4d;
    border-bottom-right-radius: .3em;
    border-bottom-left-radius: .3em;
    margin-bottom: 1%;
}
.contentHeader {
    background-color: #ff9d33;
    color: #f3f3f3;
    font-size: 1.5em;
    padding: 5px;
    border-top-right-radius: .3em;
    border-top-left-radius:  .3em;
}
.m {
	margin: 2%;
}
.p {
    padding: 1%;
}
.panel {
    border: 1px solid black;
}
.title {
    background-color: blue;
    color: white;
    margin: 0;
    font-weight: bold;
}
.overlay {
    position: relative;
}

/*typography*/

h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}
h2 {
	font-weight: 100;
	font-size: 1.500em;
}
h3 {
	font-weight: 100;
	font-size: 1.125em;
}
.text-xsmall {
    font-size: .75em;
}
.text-small {
	font-size: 1em;
}
.text {
	font-size: 1.125em;
}
.text-large {
	font-size: 1.250em;
}
.bold {
	font-weight: bold;
}
.italic {
    font-style: italic;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
/*colors*/
.orange {
    color: #ff9d33;
}
.light-gray{
    color: #f3f3f3;
}
.dark-gray{
    color: #4d4d4d;
}
.orange-bg {
    background-color: #ff9d33;
}
.light-gray-bg{
    background-color: #f3f3f3;
}
.dark-gray-bg{
    background-color: #4d4d4d;
}

/*buttons*/
.btnOrange {
	background-color: #ff9d33;
    color: #f3f3f3;
    border-radius: .3em;
    padding: 1% 0;
}
.btnGray {
    background-color: #4d4d4d;
    color: #f3f3f3;
    border-radius: .3em;
    padding: 1% 0;
}
.btnGray:hover {
    background-color: #ff9d33;
    cursor: pointer;
}
.btnOrange:hover {
    background-color: #4d4d4d;
    cursor: pointer;
}
.btnOrange button,
.btnGray button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #f3f3f3;
}

/*site*/

img#comingSoonImg {
    padding: 10% 0;
}

.smoothBackground {
    background: rgb(32,35,31); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(32,35,31,1) 1%, rgba(0,0,0,1) 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(32,35,31,1)), color-stop(99%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(32,35,31,1) 1%,rgba(0,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(32,35,31,1) 1%,rgba(0,0,0,1) 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(32,35,31,1) 1%,rgba(0,0,0,1) 99%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(32,35,31,1) 1%,rgba(0,0,0,1) 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20231f', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.orangeBlackGradient {
    background: #ff9d33; /* Old browsers */
    background: -moz-linear-gradient(left,  #ff9d33 0%, #0e0e0e 65%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff9d33), color-stop(65%,#0e0e0e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #ff9d33 0%,#0e0e0e 65%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #ff9d33 0%,#0e0e0e 65%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #ff9d33 0%,#0e0e0e 65%); /* IE10+ */
    background: linear-gradient(to right,  #ff9d33 0%,#0e0e0e 65%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9d33', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */
}

div#error {
    height: 600px;
}

/* Header and Footer */
#copyright {
    padding-left: 1%;
}
ul#footerLinks,
ul#menu {
    padding: 0;
    overflow: hidden;
    float: left;
}
ul#menu {
    margin: 0 0 1% 0;
}
ul#footerLinks > li,
ul#menu > li {
    float: left;
    display: block;
    width: auto !important;
    padding: 5px 10px !important;
    border-right: 1px solid black;
}

ul#footerLinks >li >a,
ul#menu > li > a {
    float: left;
    display: block;
    clear: both;
    overflow: hidden;
    color: #f3f3f3;
}
ul#menu > li:hover {
    background-color: #ff9d33;
}
ul#footerLinks > li > a:hover {
    color: #ff9d33;
}
div#footer a.socialMediaLink img {
    width: 30px;
    height: 30px;
}
/*End Header and Footer*/

div.slidesContainer {
    padding: 1%;
    background-color: #f3f3f3;
    border: 1px solid darkgray;
}

/*media queries*/

/* Larger ----------- */
@media screen and (max-width: 1024px) {

}

/* Smaller ----------- */
@media screen and (max-width : 650px) {

    .grid_1,
    .grid_2,
    .grid_3,
    .grid_4,
    .grid_5,
    .grid_6,
    .grid_7,
    .grid_8,
    .grid_9,
    .grid_10,
    .grid_11,
    .grid_12{
    	width:100%;
    }

    .col {
        margin: 1% 0 1% 0;
    }

    #banner .contactContainer {
        padding: 0;
    }
}


