div.bedBathContainer {
	background-color: #4d4d4d;
	color: #f3f3f3;
	text-align: center;
	border-radius: .3em;
}
div.leftContainer {
	float: left;
	width: 48%;
	margin: 1%;
}
div.rightContainer {
	float: left;
	width: 48%;
	margin: 1%;
}
div.price,
div.uniqueId {
	margin: 4% 0;
}