.propertiesList ul {
	list-style: none;
	margin: 0;
}
.propertiesList ul > li {
	color: #4d4d4d;
	border: 1px solid lightgray;
	padding: 1%;
	margin-bottom: 1%;
}
.propertiesList ul > li .btnGray:hover {
	background-color: #ff9d33;
}
.propertiesList ul > li .name {
	color: #f3f3f3;
	background-color: #ff9d33;
	border-radius: .3em;
	padding: 1%;
	font-size: 1.25em;
}