table.propertiesDetailTable {
	border-collapse: collapse;
	font-size: 1.125em;
	width: 96%;
	border: 1px solid lightgray;
}
table.propertiesDetailTable tr:nth-child(even) {
    background-color: lightgray;
}
div.name {
	color: #f3f3f3;
	border-radius: .3em;
	padding: 1%;
	font-size: 1.5em;
}