ul.testimonialsList {
	list-style: none;
	padding: 2%;
}
ul.testimonialsList .quoteContainer {
	width: 10%;
	float: left;
}
ul.testimonialsList .textContainer {
	width: 90%;
	float: left;
}
ul.testimonialsList > li {
	border-bottom: 1px solid lightgray;
	padding-bottom: 2%;
	margin-bottom: 2%;
}

.content ul.testimonialsList {
	overflow: auto;
	max-height: 600px;
}